<div class="title">
    <img src="/ass/me.jpg" alt="Me">
    <h1>{{ .Title }}</h1>
</div>
<div class="mainContainer">
    <a class="return" href="/"><img src="/ass/back.png"></a>
    <p class="chapter">The me :</p>
    <p>Just a random french dude, absolutely not a weeb, coding to pass the time when watching videos. (not the opposite)</p>
    <p class="chapter">What I use : (any framework included)</p>
    <ul class="skillsList">
        <li>Golang</li>
        <li>Rust</li>
        <li>NodeJS</li>
        <li>HTML/CSS/JS</li>
        <li>C#</li>
        <li>Any SQL like language</li>
        <li>Any language that catch my eyes for the night, I like to experiment</li>
    </ul>
    <p class="chapter"> Jobs :</p>
    <div class="flexBox">
        <div class="job" style="background-image: url('/ass/worldlineLogo.png')">
            <div>
                <p>Job Title (current) : "Design and development engineer"</p>
                <p>Company : Worldline</p>
                <p>What do I do : Golang payment related code / tools internationally used.</br>(Yeah your favorite shop
                    / bank uses probably some code that I did or edited)</p>
            </div>
        </div>
        <div class="job" style="background-image: url('/ass/umanisLogo.png')">
            <div>
                <p>Job Title : "Design and development engineer"</p>
                <p>Company : Umanis</p>
                <p>What did I do : Mainly some NodeJS big app with big DB</p>
            </div>
        </div>
        <div class="job" style="background-image: url('/ass/kimoceLogo.png')">
            <div>
                <p>Job Title : "analyst developer"</p>
                <p>Company : Kimoce</p>
                <p>What did I do : Big Java client with big DB</p>
            </div>
        </div>
    </div>
</div>