<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Moujin - Not a weeb music site">
<meta itemprop="description" content="Not a weeb music site">
<meta itemprop="image" content="path-to-your-website-default-image">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="http://www.moujin.co">
<meta property="og:type" content="website">
<meta property="og:title" content="Moujin - Not a weeb music site">
<meta property="og:description" content="Not a weeb music site">
<meta property="og:image" content="path-to-your-website-default-image">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Moujin - Not a weeb music site">
<meta name="twitter:description" content="Not a weeb music site">
<meta name="twitter:image" content="path-to-your-website-default-image">

<link rel="stylesheet" href="/css/main.css">

<title>Moujin - {{ .Title }}</title>